<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stallion Statistics</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css" integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-mattBlackLight fixed-top">
    <button class="navbar-toggler sideMenuToggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="index.html">Stallion Statistics</a>
    <img  id = "horse-logo" src="../../static/images/whitelogo.png">
  </nav>
  <div class="wrapper d-flex">
    <div class="sideMenu bg-mattBlackLight">
      <div class="sidebar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="../index.html" class="nav-link px-2">
              <i class="material-icons icon">home</i>
              <span class="text">Home Page</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="../dashboard/dashboard.html" class="nav-link px-2">
              <i class="material-icons icon">map</i>
              <span class="text">Dashboard</span>
            </a>
          </li>
            <li class="nav-item">
              <a href="../op_rt/op_rt.html" class="nav-link px-2">
                <i class="material-icons icon">notifications</i>
                <span class="text">Oaklawn Park RT</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="../race_11/race_11.html" class="nav-link px-2">
                <i class="material-icons icon">map</i>
                <span class="text">Race 11</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="../horses/horses.html" class="nav-link px-2">
                <i class="material-icons icon">search</i>
                <span class="text">Horses</span></a>
            </li>
            <li class="nav-item">
              <a href="../na_horse_rt_map/na_horse_rt_map.html" class="nav-link px-2">
                <i class="material-icons icon">map</i>
                <span class="text">US Horse RT Map</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="content">
        <main>
          <div class="container-fluid">
            <div class="row" style = margin-top:20px;>
              <div class="col-md-4 my-3">
                <div class="bg-mattBlackLight p-3">
                  <a href = "../race_11/race_11.html"><h3 class="mb-2">Visualization 1</h3></a>
                  <div id="graph3" style="overflow-x:auto; overflow-y:auto; max-height:450px; max-width: auto;"></div>
                </div>
              </div>
              <div class="col-md-4 my-3">
                <div class="bg-mattBlackLight px-3 py-3">
                  <a href = "../horses/horses.html"><h3 class="mb-2">Visualization 2</h3></a>
                  <div id="graph" style="overflow-x:auto; overflow-y:auto; max-height:450px; max-width: auto;"></div>
                </div>
              </div>
              <div class="col-md-4 my-3">
                <div class="bg-mattBlackLight px-3 py-3">
                  <a href = "../race_11/race_11.html"><h3 class="mb-2">Visualization 3</h3></a>
                  <div id="graph2"style="overflow-x:auto; overflow-y:auto; max-height:450px; max-width: auto;"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="bg-mattBlackLight my-2 p-3">
                  <a href = "../na_horse_rt_map/na_horse_rt_map.html"><h3 class="mb-2">US Horse Race Track Map</h3></a>
                  <div id="map" style = " width: 820px; height: 450px; margin: 0 auto 0 auto; margin-top: 20px;text-align: center; margin-left: 20px;"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="bg-mattBlackLight my-2 p-3">
                  <a href = "../op_rt/op_rt.html"><h3 class="mb-2">Visualization 4</h3></a>
                  <div id="graph5" style="overflow-x:auto; overflow-y:auto; max-height:450px; max-width: auto;" ></div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <!-- D3 JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
    <!--API Key-->
    <script type="text/javascript" src="../../static/js/config.js"></script>
    <!-- Our JavaScript -->
    <script type="text/javascript" src="../../static/js/logic.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha256-OUFW7hFO0/r5aEGTQOz9F/aXQOt+TwqI1Z4fbVvww04=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js" integrity="sha256-qE/6vdSYzQu9lgosKxhFplETvWvqAAlmAuR+yPh/0SI=" crossorigin="anonymous" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>
    <script src="../../static/js/plot1.js"></script>
    <script src="../../static/js/plot2.js"></script>
    <script src="../../static/js/plot3.js"></script>
    <script src="../../static/js/plot4.js"></script>
  </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
</html>



