<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stallion Statistics</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css" integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-mattBlackLight fixed-top">
      <button class="navbar-toggler sideMenuToggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="home_page.html">Stallion Statistics</a>
  
      <button class="navbar-toggler"type="button"data-toggle="collapse"data-target="#navbarSupportedContent"aria-controls="navbarSupportedContent"aria-expanded="false"aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
</nav>
  <div class="wrapper d-flex">
    <div class="sideMenu bg-mattBlackLight">
      <div class="sidebar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="home_page.html" class="nav-link px-2">
              <i class="material-icons icon">home</i>
              <span class="text">Home Page</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="index.html" class="nav-link px-2">
              <i class="material-icons icon">map</i>
              <span class="text">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="op_rt.html" class="nav-link px-2">
              <i class="material-icons icon">notifications</i>
              <span class="text">Oaklawn Park RT</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="race_11.html" class="nav-link px-2">
              <i class="material-icons icon">map</i>
              <span class="text">Race 11</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="horses.html" class="nav-link px-2">
              <i class="material-icons icon">search</i>
              <span class="text">Horses</span></a>
          </li>
          <li class="nav-item">
            <a href="na_horse_rt_map.html" class="nav-link px-2">
              <i class="material-icons icon">map</i>
              <span class="text">US Horse RT Map</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="content">
      <main>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="bg-mattBlackLight my-2 p-3">
                <div class="section">
                  <h1 class="title" style = color:white;>OakLawn Park Race Track </h1>
                    <div class="table-responsive" style="overflow-x:auto; overflow-y:auto; max-height:470px; max-width: auto;">
                      <table class="table table-striped", style = "color:black;background-color: white;">
                        <thead>
                          <tr style="text-align: right;">
                            <th></th>
                            <th>RCRace</th>
                            <th>Starters</th>
                            <th>Purse</th>
                            <th>Distance</th>
                            <th>Surface</th>
                            <th>PostTime</th>
                            <th>LongClass</th>
                            <th>Conditions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>0</th>
                            <td>1</td>
                            <td>12</td>
                            <td>$0.3k</td>
                            <td>6.0</td>
                            <td>D</td>
                            <td>12:00</td>
                            <td>Alw 40000s</td>
                            <td>STARTER ALLOWANCE. Purse $32,000  FOR FILLIES AND MARES FOUR YEARS OLD  AND UPWARD WHICH HAVE STARTED FOR A CLAIMING PRICE OF $40,000 OR LESS IN ONE OF THEIR LAST THREE STARTS. Weight, 124 lbs. Non-winners Of A Race Since February 2, 2020 Allowed 3 lbs. Non-winners Of A Race Since December 2, 2019 Allowed 6 lbs.</td>
                          </tr>
                          <tr>
                            <th>1</th>
                            <td>2</td>
                            <td>14</td>
                            <td>$0.6k</td>
                            <td>6.0</td>
                            <td>D</td>
                            <td>12:32</td>
                            <td>Md Sp Wt 60k</td>
                            <td>MAIDEN SPECIAL WEIGHT. Purse $60,000  FOR MAIDENS, FILLIES THREE YEARS OLD. Weight, 122 lbs.</td>
                          </tr>
                          <tr>
                            <th>2</th>
                            <td>3</td>
                            <td>14</td>
                            <td>$0.6k</td>
                            <td>6.0</td>
                            <td>D</td>
                            <td>1:04</td>
                            <td>Alw 61000N$Y</td>
                            <td>ALLOWANCE. Purse $61,000  FOR ARKANSAS BRED (WHICH QUALIFY UNDER RULES GOVERNING ARKANSAS-BREDS) THREE YEAR OLDS AND UPWARD WHICH HAVE NEVER WON $15,000 OTHER THAN MAIDEN, CLAIMING, OR STARTER OR WHICH HAVE NEVER WON TWO RACES. Three Year Olds, 118 lbs.; Older, 124 lbs. Non-winners Of A Race Since March 1, 2020 Allowed 2 lbs.</td>
                          </tr>
                          <tr>
                            <th>3</th>
                            <td>4</td>
                            <td>14</td>
                            <td>$0.6k</td>
                            <td>6.0</td>
                            <td>D</td>
                            <td>1:36</td>
                            <td>Md Sp Wt 60k</td>
                            <td>MAIDEN SPECIAL WEIGHT. Purse $60,000  FOR MAIDENS, THREE YEARS OLD  AND UPWARD. Three Year Olds, 118 lbs.; Older, 124 lbs. (Preference To Horses That Have Not Started For A Claiming Price).</td>
                          </tr>
                          <tr>
                            <th>4</th>
                            <td>5</td>
                            <td>13</td>
                            <td>$0.6k</td>
                            <td>8.5</td>
                            <td>D</td>
                            <td>2:10</td>
                            <td>OC 75k/C</td>
                            <td>ALLOWANCE OPTIONAL CLAIMING. Purse $62,000  FOR FOUR YEAR OLDS AND UPWARD WHICH HAVE NEVER WON $15,000 THREE TIMES OTHER THAN MAIDEN, CLAIMING, STARTER, OR STATE BRED OR WHICH HAVE NOT WON $49,000 OTHER THAN MAIDEN, CLAIMING, STARTER, OR STATE BRED SINCE NOVEMBER 2, 2019 OR CLAIMING PRICE $75,000.Weight, 124 lbs. Non-winners Of A Race Other Than Maiden Or Claiming Since March 2, 2020 Allowed 3 lbs. Such A Race Since February 2, 2020 Allowed 6 lbs. Claiming Price $75,000 (Allowance Condition Preferred).</td>
                          </tr>
                          <tr>
                            <th>5</th>
                            <td>6</td>
                            <td>14</td>
                            <td>$0.6k</td>
                            <td>9.0</td>
                            <td>D</td>
                            <td>2:44</td>
                            <td>Md Sp Wt 60k</td>
                            <td>MAIDEN SPECIAL WEIGHT. Purse $60,000  FOR MAIDENS, THREE YEARS OLD. Weight, 122 lbs.</td>
                          </tr>
                          <tr>
                            <th>6</th>
                            <td>7</td>
                            <td>14</td>
                            <td>$0.6k</td>
                            <td>8.5</td>
                            <td>D</td>
                            <td>3:16</td>
                            <td>OC 100k/C</td>
                            <td>ALLOWANCE OPTIONAL CLAIMING. Purse $61,000  FOR FILLIES THREE YEARS OLD  WHICH HAVE NEVER WON A RACE OTHER THAN MAIDEN, CLAIMING, STARTER, OR STATE BRED AT A MILE OR OVER OR WHICH HAVE NEVER WON TWO RACES OR CLAIMING PRICE $100,000. Weight, 122 lbs. Non-winners Of A Race Since March 2, 2020 Allowed 3 lbs. A Race Since December 2, 2019 Allowed 6 lbs. Claiming Price $100,000 (Allowance Condition Preferred).</td>
                          </tr>
                          <tr>
                            <th>7</th>
                            <td>8</td>
                            <td>14</td>
                            <td>$0.6k</td>
                            <td>8.5</td>
                            <td>D</td>
                            <td>3:47</td>
                            <td>Alw 61000N$Y</td>
                            <td>ALLOWANCE. Purse $61,000  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVER WON $15,000 OTHER THAN MAIDEN, CLAIMING, STARTER,  OR  STATE BRED ALLOWANCE OR WHICH HAVE NEVER WON TWO RACES. Three Year Olds, 118 lbs.; Older, 124 lbs. Non-winners Of A Race Since March 1, 2020 Allowed 2 lbs.</td>
                          </tr>
                          <tr>
                            <th>8</th>
                            <td>9</td>
                            <td>14</td>
                            <td>$0.6k</td>
                            <td>8.5</td>
                            <td>D</td>
                            <td>4:19</td>
                            <td>OC 40k/N$Y</td>
                            <td>ALLOWANCE OPTIONAL CLAIMING. Purse $62,000  FOR FOUR YEAR OLDS AND UPWARD WHICH HAVE NEVER WON $15,000 TWICE OTHER THAN MAIDEN, CLAIMING, STARTER,  OR  STATE BRED ALLOWANCE OR WHICH HAVE NEVER WON THREE RACES OR CLAIMING PRICE $40,000. Weight, 124 lbs. Non-winners Of A Race Since March 1, 2020 Allowed 3 lbs. A Race Since January 1, 2020 Allowed 6 lbs. Claiming Price $40,000.</td>
                          </tr>
                          <tr>
                            <th>9</th>
                            <td>10</td>
                            <td>14</td>
                            <td>$0.6k</td>
                            <td>8.5</td>
                            <td>D</td>
                            <td>4:54</td>
                            <td>OC 80k/N$Y</td>
                            <td>ALLOWANCE OPTIONAL CLAIMING. Purse $61,000  FOR THREE YEAR OLDS WHICH HAVE NEVER WON $15,000 OTHER THAN MAIDEN, CLAIMING, STARTER, OR STATE BRED OR WHICH HAVE NEVER WON TWO RACES OR CLAIMING PRICE $80,000. Weight, 122 lbs. Non-winners Of A Race Since March 1, 2020 Allowed 3 lbs. Claiming Price $80,000.</td>
                          </tr>
                          <tr>
                            <th>10</th>
                            <td>11</td>
                            <td>11</td>
                            <td>$5.0k</td>
                            <td>9.0</td>
                            <td>D</td>
                            <td>5:29</td>
                            <td>ArkDerby-G1</td>
                            <td>ARKANSAS DERBY. Purse $500,000  THREE YEAR OLDS.  By subscription of $500 which shall accompany the nomination, original nominators paying $7,500 to pass the entry box and $7,500 additional to start.  Supplementary nominations may be made by the closing time of entries at a fee of $15,500 which qualifies to start with $500,000 Guaranteed of which 60% to the owner of the winner.  20% to second, 10% to third, 5% to fourth, 3% to fifth and 2% to be divided equally between remaining starters.  WEIGHTS: Colts and Geldings 122 lbs.; Fillies 117 lbs.  Non-winners of a Sweepstakes allowed 4 lbs.  In Allowance Stakes starting preference will be given to horses that have accumulated the highest earnings.  Starters to be named through the entry box by the usual time of closing.  The Owner of the winner to receive a trophy.  Early Bird closing Thursday, February 6, 2020 at $750 f</td>
                          </tr>
                          <tr>
                            <th>11</th>
                            <td>12</td>
                            <td>14</td>
                            <td>$6.0k</td>
                            <td>9.0</td>
                            <td>D</td>
                            <td>6:04</td>
                            <td>OaklawnH-G2</td>
                            <td>OAKLAWN H.. Purse $600,000  FOUR YEAR OLDS AND UPWARD.  By subscription of $100 each which shall accompany the nomination, $5,000 to pass the entry box and $5,000 additional to start.  Supplementary nominations may be made by Thursday, April 23, 2020 at $500. $600,000 Guaranteed ofwhich 60% to the Owner of the winner, 20% to second, 10% to third, 5% to fourth, 3% to fifth and 2% to be divided equally between remaining starters.  Weights to be announced Friday, April 24, 2020.  In Handicap Stakes starting preference will be given tohigh weights.  Starters to be named through the entry box by the usual time of closing.  The Oaklawn Handicap has been chosen as part of the  Win Today, See You In May Series. The winner of the Oaklawn Handicap will receive a guaranteed spot in the starting gate for the Pimlico Special at Pimlico Race Course on Friday May 15, 2020. In additi</td>
                          </tr>
                          <tr>
                            <th>12</th>
                            <td>13</td>
                            <td>11</td>
                            <td>$5.0k</td>
                            <td>9.0</td>
                            <td>D</td>
                            <td>6:43</td>
                            <td>ArkDerby-G1</td>
                            <td>ARKANSAS DERBY. Purse $500,000  THREE YEAR OLDS.  By subscription of $500 which shall accompany the nomination, original nominators paying $7,500 to pass the entry box and $7,500 additional to start.  Supplementary nominations may be made by the closing time of entries at a fee of $15,500 which qualifies to start with $750,000 Guaranteed of which 60% to the owner of the winner.  20% to second, 10% to third, 5% to fourth, 3% to fifth and 2% to be divided equally between remaining starters.  WEIGHTS: Colts and Geldings 122 lbs.; Fillies 117 lbs.  Non-winners of a Sweepstakes allowed 4 lbs.  In Allowance Stakes starting preference will be given to horses that have accumulated the highest earnings.  (See reverse side for additional starting limitation information).  Starters to be named through the entry box by the usual time of closing.  The Owner of the winner to receiv</td>
                          </tr>
                          <tr>
                            <th>13</th>
                            <td>14</td>
                            <td>14</td>
                            <td>$0.5k</td>
                            <td>14.0</td>
                            <td>D</td>
                            <td>7:14</td>
                            <td>Alw 10000s</td>
                            <td>STARTER ALLOWANCE. Purse $50,000  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE STARTED FOR A CLAIMING PRICE OF $10,000 OR LESS IN 2019 - 2020. Three Year Olds, 120 lbs.; Older, 126 lbs. Non-winners Of A Race Since March 2, 2020 Allowed 2 lbs. A Race Since January 2, 2020 Allowed 4 lbs. (Races Where Entered For $10,000 Or Less Not Considered In Allowances).</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="bg-mattBlackLight my-2 p-3">
                <h4 class="mb-2">Horse vs Speed Rating</h4>
                  <img src="../ETL/images/Horse_vs_SpeedRating.png" alt="Alps"  style = "width: 720px; height: 500px; margin: 0 auto 0 auto; margin-top: 20px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                  text-align: center; margin-left: 20px;">
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha256-OUFW7hFO0/r5aEGTQOz9F/aXQOt+TwqI1Z4fbVvww04=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js" integrity="sha256-qE/6vdSYzQu9lgosKxhFplETvWvqAAlmAuR+yPh/0SI=" crossorigin="anonymous" ></script>
  </body>
</html>